<h1>アイテム登録</h1>

<%= form_with(model: @item, local: true) do |form| %>
  <% if @item.errors.any? %>
    <div class="error-messages">
      <h2><%= pluralize(@item.errors.count, "エラー") %>が発生しました:</h2>
      <ul>
        <% @item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, "アイテム名" %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :category, "カテゴリ" %><br>
    <%= form.text_field :category %>
  </div>

  <div>
    <%= form.label :tag, "タグ" %><br>
    <%= form.text_field :tag %>
  </div>

  <div>
    <%= form.label :price, "価格" %><br>
    <%= form.number_field :price %>
  </div>

  <div>
    <%= form.label :purchased_at, "購入日" %><br>
    <%= form.date_select :purchased_at %>
  </div>

  <div>
    <%= form.label :shop, "購入店舗" %><br>
    <%= form.text_field :shop %>
  </div>

  <div>
    <%= form.label :photo, "写真" %><br>
    <%= form.file_field :photo %>
  </div>

  <div>
    <%= form.submit '登録する', class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to '一覧へ戻る', items_path %>
